<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Se connecter</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="assets/css/style.css">
    
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                
                <h3 class="card-title text-center mb-3"><img src="assets/images/logo/logo-white.png" alt="logo celebobo" style="max-width: 50%;"></h3>
                <h3 class="text-center mb-3 mt-3 " style="color:#EF88AD">Connectez-vous</h3>
                <form>
                  <div class="form-group">
                    <label>Email ou nom d'utilisateur *</label>
                    <input type="text" class="form-control p_input" placeholder="Votre nom d'utilisateur ou email">
                  </div>
                  <div class="form-group">
                    <label>Mot de passe *</label>
                    <input type="text" class="form-control p_input" placeholder="Entez votre mot de passe">
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-between">
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Se souvenir de moi </label>
                    </div>
                    <a href="#" class="forgot-pass">Mot de passe oublie</a>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-block enter-btn" style="background-color: #640D5F;">Se connecter</button>
                  </div>
                  
                  <p class="sign-up">Si vous n'avez pas de compte<a href="#"> Inscrivez vous</a></p>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
      
  </body>
</html>