{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Confirmer l'adresse email" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Confirmer l'adresse email" %}
    {% endelement %}
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        {% if can_confirm %}
            {% element p %}
                {% blocktrans with confirmation.email_address.email as email %}Veuillez confirmer que <a href="mailto:{{ email }}" class="text-primary underline">{{ email }}</a> est une adresse email pour l'utilisateur {{ user_display }}.{% endblocktrans %}
            {% endelement %}
            {% url 'account_confirm_email' confirmation.key as action_url %}
            {% element form method="post" action=action_url %}
                {% slot actions %}
                    {% csrf_token %}
                    {{ redirect_field }}
                    {% element button type="submit" %}
                        {% trans "Confirmer" %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        {% else %}
            {% element p %}
                {% trans "Cette adresse email ne peut pas être confirmée car elle est déjà confirmée par un autre compte." %}
            {% endelement %}
        {% endif %}
    {% else %}
        {% url 'account_email' as email_url %}
        {% element p %}
            {% blocktrans %}Ce lien de confirmation a expiré ou est invalide. Veuillez <a href="{{ email_url }}" class="text-primary underline">demander un nouveau lien de confirmation</a>.{% endblocktrans %}
        {% endelement %}
    {% endif %}
{% endblock content %}
