{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Se connecter" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Se connecter" %}
    {% endelement %}
    {% element p %}
        {% trans "Accédez à votre compte" %}
    {% endelement %}
    {% if not SOCIALACCOUNT_ONLY %}
        <p class="mb-3 text-center text-[11px] text-gray-400">
            {% trans "Pas encore de compte ?" %}
            <a class="font-semibold text-primary underline-offset-4 hover:underline"
               href="{{ signup_url }}">{% trans "Inscrivez-vous" %}</a>
        </p>
        {% url 'account_login' as login_url %}
        {% element form form=form method="post" action=login_url tags="entrance,login" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {{ redirect_field }}
                <div class="flex justify-end">
                    <a class="text-[11px] text-primary hover:underline underline-offset-4"
                       href="{% url 'account_reset_password' %}">{% trans "Mot de passe oublié ?" %}</a>
                </div>
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" tags="prominent,login" %}
                    {% trans "Se connecter" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    {% endif %}
    {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
        {% element hr %}
        {% endelement %}
        {% element button_group %}
            {% if PASSKEY_LOGIN_ENABLED %}
                {% element button type="submit" form="mfa_login" id="passkey_login" tags="outline" %}
                    {% trans "Se connecter avec une clé d'accès" %}
                {% endelement %}
            {% endif %}
            {% if LOGIN_BY_CODE_ENABLED %}
                {% element button href=request_login_code_url tags="outline" %}
                    {% trans "Recevoir un code de connexion" %}
                {% endelement %}
            {% endif %}
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
