{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Déconnexion" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Déconnexion" %}
    {% endelement %}
    {% element p %}
        {% trans "Êtes-vous sûr(e) de vouloir vous déconnecter ?" %}
    {% endelement %}
    {% url 'account_logout' as action_url %}
    {% element form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans "Oui, se déconnecter" %}
            {% endelement %}
            {% url 'home' as home_url %}
            {% element button href=home_url tags="outline" %}
                {% trans "Annuler" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %}
