{% extends "account/base_entrance.html" %}
{% load i18n allauth %}
{% block head_title %}
    {% trans "Réinitialisation du mot de passe" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Réinitialisation du mot de passe" %}
    {% endelement %}
    {% element p %}
        {% trans "Nous vous avons envoyé un email. Si vous ne l'avez pas reçu, vérifiez votre dossier spam. Contactez-nous si vous ne recevez rien dans quelques minutes." %}
    {% endelement %}
{% endblock content %}
