{% extends "account/base_entrance.html" %}
{% load i18n allauth %}
{% block head_title %}
    {% trans "Mot de passe modifié" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Mot de passe modifié" %}
    {% endelement %}
    {% element p %}
        {% trans "Votre mot de passe a été modifié avec succès." %}
    {% endelement %}
    {% url 'account_login' as login_url %}
    {% element button href=login_url %}
        {% trans "Se connecter" %}
    {% endelement %}
{% endblock content %}
