{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Se connecter" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Recevoir un code de connexion" %}
    {% endelement %}
    {% element p %}
        {% trans "Entrez votre adresse email pour recevoir un code de connexion sans mot de passe." %}
    {% endelement %}
    {% url 'account_request_login_code' as action_url %}
    {% element form form=form method="post" action=action_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans "Envoyer le code" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% url 'account_login' as login_url %}
    {% element button href=login_url tags="minor" %}
        {% trans "Autres options de connexion" %}
    {% endelement %}
{% endblock content %}
