{% extends "account/base_entrance.html" %}
{% load i18n allauth %}
{% block head_title %}
    {% trans "Vérifiez votre adresse email" %}
{% endblock head_title %}
{% block content %}
    <div class="mb-3 flex flex-col items-center">
        <div class="mb-2 flex h-11 w-11 items-center justify-center rounded-full bg-primary/20">
            <span class="material-symbols-outlined text-primary">mail</span>
        </div>
    </div>
    {% element h1 %}
        {% trans "Vérifiez votre adresse email" %}
    {% endelement %}
    {% element p %}
        {% blocktranslate %}Nous vous avons envoyé un email de vérification. Suivez le lien fourni pour finaliser votre inscription. Si vous ne le voyez pas dans votre boîte de réception, vérifiez votre dossier spam.{% endblocktranslate %}
    {% endelement %}
    {% url 'account_login' as login_url %}
    {% url 'account_email' as manage_email_url %}
    {% element button_group %}
        {% element button href=login_url %}
            {% trans "Retour à la connexion" %}
        {% endelement %}
        {% element button href=manage_email_url tags="outline" %}
            {% trans "Gérer mes emails" %}
        {% endelement %}
    {% endelement %}
{% endblock content %}
