# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv


*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

.vscode/
.idea/
*.swp
*.swo

.git/
.gitignore

.env
.env.local

.pytest_cache/
.coverage
htmlcov/


*.md
.DS_Store