amqp
annotated-types
anyio
asgiref
billiard
black
brotli
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
colorama
cron-descriptor
cryptography
cssbeautifier
cssselect2
distro
dj-database-url
Django
django-allauth
django-celery-beat
django-cloudinary-storage
django-timezone-field
django-widget-tweaks
django_celery_results
djhtml
djlint
EditorConfig
et_xmlfile
Faker
fonttools
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httpx
idna
jsbeautifier
json5
kombu
mypy_extensions
openpyxl
packaging
pathspec
pillow
platformdirs
prompt_toolkit
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydyf
pyparsing
pyphen
python-crontab
python-dateutil
python-dotenv
pytokens
PyYAML
regex
reportlab
requests
ruff
six
sniffio
sqlparse
tenacity
tinycss2
tinyhtml5
tqdm
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
vine
wcwidth
weasyprint
webencodings
websockets
whitenoise
zopfli
redis
django-redis