{% extends "base.html" %}
{% load static %}
{% block title %}Inscrivez-vous{% endblock %}
{% block content %}
  <div class="card col-lg-4 mx-auto">
    <div class="card-body px-5 py-5">
      <h3 class="card-title text-center mb-3">
        <img src="{% static 'static-img/logo-white.png' %}"
             alt="logo celebobo"
             style="max-width: 50%">
      </h3>
      <h3 class="text-center mb-3 mt-3 " style="color:#EF88AD">Inscrivez-vous</h3>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
          <button type="submit"
                  class="btn btn-block enter-btn"
                  style="background-color: #640D5F">S'inscrire</button>
        </div>
        <p class="sign-up text-center">
          Avez-vous déjà un compte ?
          <a href="{% url 'account_login' %}">Connectez-vous</a>
        </p>
        <p class="terms text-center">
          En créant votre compte, vous acceptez nos
          <a href="#">Termes & Conditions</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
